#reset {
    font-family: monospace;
    background-color: #5A9AD4;
    width: 70px;
    height: 30px;
    border-radius: 80px 80px 80px 80px;
    margin-top: 70px;
}

#start {
    font-family: monospace;
    background-color: #FF001F;
    width: 70px;
    height: 30px;
    border-radius: 80px 80px 80px 80px;
    margin-top: 70px;
}

#playground {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#playground-buttons {
    margin: auto;
}

#playground-field {
    height: 25vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.player-box {
    margin: 4px 0;
    padding: 2px;
    width: 25vw;
    height: 20px;
    border: 2px solid black;
}

.winner {
    background-color: #BD3D3D;
}